BOT_USERNAME=TigerBaby
MINECRAFT_AUTH=offline
MINECRAFT_SERVER=serveraddress:port
COMMAND_PREFIX=bot
DEPOSIT_POINT=-106,52,124
GEAR_CHEST_POSITION=-91,64,134
SPAWN_BED_X=
SPAWN_BED_Y=
SPAWN_BED_Z=
AUTOFARM_ON_START=false
DISCORD_WEBHOOK_URL=
